swagger: "2.0"
info:
  description: owenpay
  version: "1.0.0"
  title: owenpay
host: owenpay.pentavex.com
basePath: /owenpay
schemes:
- http
paths:
  /user/create:
    post:
      summary: User Create service.
      operationId: createUser
      consumes:
      -  application/json
      produces:
      -  application/json
      parameters:
      - in: body
        name: createUserRequest
        description: Credentials
        required: true
        schema:
          type: object
          properties:
            username:
              type: string
            password:
              type: string
      responses:
        "200":
          description: Successful operation
          schema:
            $ref: "#/definitions/CreateUserResponse"
  /user/all:
    get:
      summary: Get all users by first and last name
      operationId: getUsers
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: "#/definitions/GetUserResponse"
        400:
          description: Invalid username supplied
        404:
          description: User not found


definitions:
  CreateUserRequest:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
      - username
      - password

  CreateUserResponse:
    type: object
    properties:
      message:
        type: string
        description: message

  GetUserResponse:
    type: object
    properties:
      usernames:
        type: string
        description: usernames


